<% content_for :page_title do %>
    Taxon Images for "<%= @taxon.permalink %>"
<% end %>

<% content_for :page_actions do %>
    <%= button_link_to Spree.t(:add_an_image), new_admin_taxon_taxon_image_url(@taxon.id), {class: "btn-success", icon: 'plus', id: 'new_taxon_image_link'} %>
<% end %>

<% unless @taxon.taxon_images.any? %>
    <div class="alert alert-warning">
      <h1><%= Spree.t(:no_images_found) %></h1>
    </div>
<% else %>

    <table class="table sortable" data-hook="images_table" data-sortable-link="<%= update_positions_admin_taxon_taxon_images_path(@taxon.id) %>">
      <thead>
      <tr data-hook="images_header">
        <th><%= Spree.t(:options) %></th>
        <th ><%= Spree.t(:thumbnail) %></th>
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:super_text) %></th>
        <th><%= Spree.t(:body) %></th>
        <th><%= Spree.t(:product_name) %></th>
        <th><%= Spree.t(:button_name) %></th>
        <th><%= Spree.t(:dark) %></th>
        <th><%= Spree.t(:published) %></th>
        <th class="actions"></th>
      </tr>
      </thead>

      <tbody>
      <% (@taxon.taxon_images).each do |image| %>
          <tr id="<%= spree_dom_id image %>" data-hook="images_row">
            <td class="move-handle">
              <% if can? :edit, image %>
                  <span class="icon icon-move handle"></span>
              <% end %>
            </td>
            <td class="image">
              <%= link_to image_tag(image.attachment.url(:mini), class: 'thumbnail'), image.attachment.url(:original) %>
            </td>
            <td><%= image.taxon_image_name %></td>
            <td><%= image.super_text %></td>
            <td><%= image.alt %></td>
            <td><%= image.product.name if image.product %></td>
            <td><%= image.button_name %></td>
            <td><%= image.dark ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
            <td><%= image.published ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
            <td class="actions actions-2">
              <%= link_to_edit image, url: edit_admin_taxon_taxon_image_url(@taxon.id, image), :no_text => true, :class => 'edit' %>
              &nbsp;
              <%= link_to_delete image, {url: admin_taxon_taxon_image_url(@taxon, image), no_text: true} %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<%= button_link_to "back to edit taxonomy", edit_admin_taxonomy_url(@taxonomy), {class: "btn-success", icon: '', id: 'back_to_taxonomy_link'} %>