<% content_for :page_title do %>
    New Taxon Images for "<%= @taxon.permalink %>"
<% end %>

<% content_for :page_actions do %>
    <%= button_link_to 'Back to Taxon Images', spree.admin_taxon_taxon_images_path, :icon => 'arrow-left' %>
<% end %>

<%= form_for [:admin, @taxon, @taxon_image], html: {multipart: true} do |f| %>

    <%= render :partial => 'form', :locals => { :f => f, :taxon_image => @taxon_image } %>

    <div class="clear"></div>

    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t('actions.create'), 'ok', 'submit', {class: 'btn-success'} %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), admin_taxon_taxon_images_url(@taxon.id), :icon => 'remove' %>
    </div>

<% end %>
